body {
	margin: 0;
	padding: 0;
	min-width: 300px;
	overflow-x: hidden;
	background-color: #008080;
}

#banner {
	margin-left: auto;
	margin-right: auto;
	background: url("./images/clipart/announcement.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 14vh;
}

.navigation {
	margin-top: 2vh;
	display: inline-block;
	justify-content: center;
	align-items: center;
}

.navigation-image {
	width: 14vw;
	height: 12vh;
	display: inline-block;
}

#musings {
	background: url("./images/clipart/musings.png");
	background-size: contain;
	background-repeat: no-repeat;
}

#github {
	background: url("./images/clipart/github.png");
	background-size: contain;
	background-repeat: no-repeat;
}

#linkedin {
	background: url("./images/clipart/linkedin.png");
	background-size: contain;
	background-repeat: no-repeat;
}

#dinosaur {
	background: url("./images/clipart/dinosaur.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.austinPicture {
	border: 1vh solid DimGray;
	margin-left: auto;
	margin-right: auto;
	background: url("./images/car.jpg");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
	height: 40vh;
	min-width: 40%;
	max-width: 60%;
	animation-name: border-flash-1;
  	animation-duration: 4s;
	animation-iteration-count:infinite;
}

@keyframes border-flash-1 {
	0%   {border-color: blue;}
	25%  {border-color: red;}
	50%  {border-color: white;}
	75%  {border-color: green;}
	100% {border-color: purple;}
}

@keyframes text-flash-1 {
	0%   {color: blue;}
	25%  {color: red;}
	50%  {color: white;}
	75%  {color: green;}
	100% {color: purple;}
}

#welcome-text {
	margin: 0.5vh;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5vh;
	font-size: 6vh;
	font-family: Comic Sans MS, Comic Sans;
	color: white;
	outline-width: medium;
	outline-color: black;
	text-align: center;
}

.outer {
	display: block;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.middle {
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#counter-section {
	margin-left: auto;
	margin-right: auto;
}

#counter {
	margin-left: auto;
	margin-right: auto;
	height: 4vh;
}

.counter-text {
	margin-left: auto;
	margin-right: auto;
	font-size: 2vh;
	font-family: Comic Sans MS, Comic Sans;
	color: white;
}

@media (max-width: 800px) {
	.inner {
		width: 100vw;
	}

	#welcome-text {
		white-space: pre-wrap;
		animation-name: text-flash-1;
  		animation-duration: 4s;
		animation-iteration-count:infinite;
		font-size: 4vh;
	}

	.austinPicture {
		background: url("./images/dog.jpg");
		background-size: 300px 300px;
		border: none;
		background-position: center center;
		background-repeat: no-repeat;
		height: 40vh;
	}

	#banner {
		height: 10vh;
	}

	.navigation-image {
		width: 17vw;
		height: 12vh;
		display: inline-block;
	}

	#counter {
		height: 3vh;
	}
	
	.counter-text {
		font-size: 2vh;
	}
}