<!DOCTYPE html>
<html>
<head>
	<title>Apple M0116 Keyboard</title>
	<link rel="icon" type="image/png" href="../../images/face.png">
	<link rel="stylesheet" type="text/css" href="./styles/components-styles.css">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
</head>
	<body>
	<div class="outer">
		<div class="middle">
			<div class="inner">
				<p>Apple M0116 Keyboard</p>
				<table class="components">
					<tr>
					<th>Capacitor</th>
					<th>Capacitance</th>
					<th>Voltage Rating</th>
					</tr>
					<tr>
					<td>C1</td>
					<td>1&#181;f</td>
					<td>50V</td>
					</tr>
					<tr>
					<td>C3</td>
					<td>1&#181;f</td>
					<td>50V</td>
					</tr>
				</table> 
			</div>
	</div>
	</div>
	</body>
</html>
