<!DOCTYPE html>
<html>
<head>
	<title>Apple A9M0331 Mouse</title>
	<link rel="icon" type="image/png" href="../../images/face.png">
	<link rel="stylesheet" type="text/css" href="./styles/components-styles.css">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
</head>
	<body>
	<div class="outer">
		<div class="middle">
			<div class="inner">
				<p>Apple A9M0331 Mouse</p>
				<table class="components">
					<tr>
					<th>Capacitor</th>
					<th>Capacitance</th>
					<th>Voltage Rating</th>
					<th>Diameter</th>
					<th>Height</th>
					<th>Lead Spacing</th>
					<th>Form</th>
					</tr>
					<tr>
					<td>C1</td>
					<td>1&#181;f</td>
					<td>50V</td>
					<td>4.00mm</td>
					<td>7.22mm</td>
					<td>1.46mm</td>
					<td>Radial Can</td>
					</tr>
					<tr>
					<td>C3</td>
					<td>4.7&#181;f</td>
					<td>35V</td>
					<td>4.00mm</td>
					<td>7.22mm</td>
					<td>1.46mm</td>
					<td>Radial Can</td>
					</tr>
				</table> 
			</div>
	</div>
	</div>
	</body>
</html>
