<!DOCTYPE html>
<html>
<head>
	<title>Components</title>
	<link rel="icon" type="image/png" href="../../images/face.png">
	<link rel="stylesheet" type="text/css" href="./styles/components-styles.css">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
</head>
	<body>
	<div class="outer">
		<div class="middle">
			<div class="inner">
				<a href="./apple-m0116-keyboard.html">Apple M0116 Keyboard</a>
                <br>
                <a href="./apple-a9m0331-mouse.html">Apple A9M0331 Mouse</a>
			</div>
	    </div>
	</div>
	</body>
</html>